*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
width: 80%;
margin: 50px auto;
}

.row {
  width: 32%;
  display: inline-block;
  position: relative;
}

.row img{
width: 100%;
    
}

  
.row .cuore{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 5px;
}

.row .sconto{  
    position: absolute;
    bottom: 120px;
    left:0;
}
.btn {
    color: white;
    background-color: red;
    font-size: 12px;
    font-weight:bold;
    padding: 5px;
}

.rosso{ 
    background-color: red;
}

.verde{
    background-color: #028759;
}

   .prodotto:hover .img4{
       display: block;
    }



.prezzi .brand{
font-size: 12px;
}

.prezzi .product-name{
text-transform: uppercase;
}

.prezzi .price{
color: red;
}
.prodotto .prima-immagine{
    display: block;
}
.prodotto .seconda-immagine{
    display: none;
}

.prodotto:hover{
    cursor: pointer;
}

.prodotto:hover .prima-immagine{
    display: none;
}
.prodotto:hover .seconda-immagine{
display: block;
}

